$names: sedans, suvs, luxury;

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 50px 40px;

  &__description {
    margin: 0 0 25px;
  }

  @each $name in $names {
    &.#{$name} {
      @include card($name);
    }
  }
}
